<ion-header>
  <ion-toolbar>
    <ion-title>
      Store
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-badge *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-xs="12" size-sm="6" size-md="4" size-lg="3" 
      *ngFor="let item of [].constructor(12)">      
        <ion-card color="secondary">
            <ion-card-header>
              <ion-card-subtitle>My subtitle</ion-card-subtitle>
              <ion-card-title>My title</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Lorem ipsum dolor sit amet consectetur adisplicing elit.
            </ion-card-content>
        </ion-card>
      </ion-col>  
    </ion-row>
  </ion-grid>

</ion-content>