<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <div class="row2">
    <h3>Baju Lanang</h3>
    <p>Lorem ipsum dolor sit am et, consectetur adipiscing elit</p>
  </div>

  <div class="myheader">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <img src="./assets/img/about.jpg">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

  <div class="row2">
    <h3>What We Do</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
  </div>

  <div class="whatwedo">
    <ion-row>
      <ion-col text-center>
        <ion-card>
            <img src="./assets/icon/provide1.svg">
            <ion-card-header>
                <ion-card-title>Original Product</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <p>The content for this card</p>
            </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col text-center>
        <ion-card>
            <img src="./assets/icon/provide2.svg">
            <ion-card-header>
                <ion-card-title>Online Management</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <p>The content for this card</p>
            </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col text-center>
        <ion-card>
            <img src="./assets/icon/provide3.svg">
            <ion-card-header>
                <ion-card-title>Friendly Support</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <p>The content for this card</p>
            </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </div>

    <ion-grid>
      <ion-row>
        <ion-col class="vision">
          <h4>Our Vision</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </ion-col>

        <ion-col class="mission">
          <h4>Our Mission</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </ion-col>

      </ion-row>
    </ion-grid>

</ion-content>