.row2{
    text-align: center;
}

.vision{
    margin:10px;
    padding: 10%;
    background-color: silver;
    h4,p{
        color: white;
    }
}


.mission{
    margin:10px;
    padding: 10%;
    background-color: #FFBC67;
    h4,p{
        color: white;
    }
}

.myheader{
    ion-card{
        margin-left: 6%;
        margin-right: 6%;
        border-radius: 10px;
    }
    ion-card-content{
        padding: 0px;
      }
  }

.whatwedo{
    ion-card{
        box-shadow: none;
    }
    ion-img{
        max-height: 200px;
    }
}