ion-img{
    max-height: 100px;
}

ion-card {
    position: relative;
    text-align: center;
}
ion-card-title {
    position: absolute;
    top: -85%;  
    color: #fff !important;
}

.isi{
    button{
        background-color: #fff;
    }
}