<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Video
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-item lines="none ">
    <ion-label text-right>Sort By</ion-label>
    <ion-select value="newest" ok-text="Okay" cancel-text="Dismiss">
      <ion-select-option value="newest">Newest</ion-select-option>
      <ion-select-option value="older">Older</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-6 col-lg-4 col-xl-3 *ngFor="let item of newsItems">
        <ion-card>
          <ion-card-header>afjkajkfjksa</ion-card-header>
          <ion-card-content>asfnskafnkas</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-img src="./assets/img/img1.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Hello World</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>The content for this card</p>
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col>
        <ion-card>
          <ion-img src="./assets/img/img2.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Hello World</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>The content for this card</p>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid> -->

  <!---Ini Batas SUcii-->

  <div class="isi">
    <ion-grid>
      <ion-row>

        <ion-col col-4 col-md *ngFor="let data of isi">
          <ion-card tappable (click)="navigate(data.image)">
            <ion-item>
              <ion-avatar slot="start">
                <img src="./assets/icon/anon.png">
              </ion-avatar>
              <!-- <ion-item lines="none">Anish Nirmal</ion-item>
              <p>July 16, 1992</p> -->
              <ion-label>
                  <h2>Anish Nirmal</h2>
                  <p>Wednesday, Jul 16, 1992</p>
              </ion-label>
            </ion-item>
            <img src="{{ data.image }}"/>
            <ion-card-content>
              <ion-card-title>
                <!-- Theme Ionic 2 Application (Part 1) - Customize and modify default theme layer of ionic application -->
              </ion-card-title>
              <p>
                Ionic is built on top of Sass, which allows us to set some default styles.
                Some examples of CSS preprocessor include: Sass, LESS etc...
              </p>
            </ion-card-content>
            <ion-row>
              <ion-col>
                <button ion-button icon-left clear small>
                  <ion-icon name="thumbs-up"></ion-icon>
                  <ion-note>54 Likes</ion-note>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button icon-left clear small>
                  <ion-icon name="text"></ion-icon>
                  <ion-note>40 Comments</ion-note>
                </button>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>

        <!-- <ion-col col-6>
          <ion-card tappable (click)="navigate()">
            <ion-item>
              <ion-avatar item-left>
                <img src="https://via.placeholder.com/100x100">
              </ion-avatar>
              <ion-item lines="none">Anish Nirmal</ion-item>
              <p>July 16, 1992</p>
            </ion-item>
            <img src="{{ data.image[i+1] }}" />
            <ion-card-content>
              <ion-card-title>
                Theme Ionic 2 Application (Part 1) - Customize and modify default theme layer of ionic application
              </ion-card-title>
              <p>
                Ionic is built on top of Sass, which allows us to set some default styles.
                Some examples of CSS preprocessor include: Sass, LESS etc...
              </p>
            </ion-card-content>
            <ion-row>
              <ion-col>
                <button ion-button icon-left clear small>
                  <ion-icon name="thumbs-up"></ion-icon>
                  <ion-note>54 Likes</ion-note>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button icon-left clear small>
                  <ion-icon name="text"></ion-icon>
                  <ion-note>40 Comments</ion-note>
                </button>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
         -->

      </ion-row>
    </ion-grid>
  </div>


</ion-content>