<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Article
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item lines="none ">
    <ion-label text-right>Sort By</ion-label>
    <ion-select value="newest" ok-text="Okay" cancel-text="Dismiss">
      <ion-select-option value="newest">Newest</ion-select-option>
      <ion-select-option value="older">Older</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list *ngIf="abc"class="isi">
    <ion-card *ngFor="let data of abc" tappable (click)="navigate(data.image)">
      <ion-grid>
        <!-- Baris Atticle -->
        <ion-row>
          <ion-col size="9" push="3">
            <ion-item>
              <ion-row>
                <h2>Fashion Article Title</h2>
              </ion-row>
            </ion-item>
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out
                of a DeLorean?! Whoa. This is heavy. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident.</p>
            </ion-card-content>


            <ion-row>
              <ion-col>
                <button ion-button icon-left fill="clear" size="small">
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div>12 Likes</div>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button icon-left clear small>
                  <ion-icon name="text"></ion-icon>
                  <div>4 Comments</div>
                </button>
              </ion-col>
              <ion-col center text-center>
                <ion-note>

                </ion-note>
              </ion-col>
            </ion-row>

          </ion-col>
          <ion-col size="3" pull="9">
            <img src="{{ data.image }}">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>

  <!-- <ion-list *ngIf="!abc" class="isi">
    <ion-card *ngFor="let fake of fakeabc" class="fakeItem">
      <h2></h2>
      <h3></h3>
      <p></p>
    </ion-card>
  </ion-list> -->

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more article...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>