ion-card{
    border-radius: 0px;
}

img{
    max-height: 200px; //harusnya max-height biar responsive
    max-width: 200px; //harusnya max-width biar responsive
    background-size: cover;
}

.isi{
    button{
        background-color: #fff;
    }
}

// .fakeItem {
//     h2, h3, p {
//       background-color: lightgrey;
//       opacity: 0.5;
//       height: 1em;
//       margin-top: 10px;
//     }
   
//     h2 {
//       width: 35%;
//     }
   
//     h3 {
//       width: 40%;
//     } 
   
//     p {
//       width: 60%;
//     }
//    }