<ion-app>
  <ion-split-pane>
    <ion-menu>
      <!-- <ion-header> -->
      <div class="toolbar">
        <ion-toolbar>
          <ion-row>
              <!-- <ion-icon name="add-circle">Menu</ion-icon> -->
              <ion-avatar>
                <img src="./assets/logo/BajuLanang.png">
              </ion-avatar>
              <ion-title style="font-family: pacifico">Baju Lanang</ion-title>
          </ion-row>
        </ion-toolbar>
      </div>  
      <!-- </ion-header> -->
      <ion-content>
        <ion-list lines="none">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label style="font-family: pacifico">
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
