<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="/article"></ion-back-button>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-img src=" {{ image }}"></ion-img>

  <ion-row>
    <ion-col size=3 text-left>
      <ion-button fill="solid" color="dark">
        Share
        <ion-icon slot="start" name="share" color="warning"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col size=9 text-right>
      <ion-button fill="solid" color="dark">
        212
        <ion-icon slot="start" name="eye" color="warning"></ion-icon>
      </ion-button>

      <ion-button fill="solid" color="dark">
        56
        <ion-icon slot="start" name="thumbs-up" color="warning"></ion-icon>
      </ion-button>

      <ion-button fill="solid" color="dark">
        2
        <ion-icon slot="start" name="chatboxes" color="warning"></ion-icon>
      </ion-button>
    </ion-col>

  </ion-row>

  <h2>Fashion Article Title</h2>
  <p>Wednesday - August 8, 2018</p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
    anim id est laborum.
  </p>
  <h3>A. Lorem Dolor Sit Amet</h3>
  <ion-img src="https://i.ytimg.com/vi/RqRNd4UyA4c/maxresdefault.jpg"></ion-img>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
    anim id est laborum.
  </p>
  <h3>B. Lorem Dolor Sit Amet</h3>
  <ion-img src="https://i.ytimg.com/vi/RqRNd4UyA4c/maxresdefault.jpg"></ion-img>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
    anim id est laborum.
  </p>

  <ion-row text-center>
    <ion-col width-50>
      <ion-button fill="solid" color="dark">
        56
        <ion-icon slot="start" name="thumbs-up" color="warning"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col width-50>
      <ion-button fill="solid" color="dark">
        Share
        <ion-icon slot="start" name="share" color="warning"></ion-icon>
      </ion-button>
    </ion-col>

  </ion-row>

  <ion-card>
    <ion-grid>
      <!-- Baris Atticle -->
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-input required type="text" placeholder="Write your comment here ..."></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-button fill="clear" size="medium" color="medium" float-right>POST</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <p>Comments(15)</p>
  <ion-card>
    <ion-grid>
      <!-- Baris Atticle -->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-row>
              <h4>Jeremy Evan</h4>
            </ion-row>
          </ion-item>
          <ion-card-content>
            <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out
              of
              a DeLorean?! Whoa. This is heavy. </p>
          </ion-card-content>

          <ion-row>
            <ion-col size=8>
              <ion-button fill="outline" shape="round" size="small" color="dark">
                0
                <ion-icon slot="start" name="thumbs-up" color="warning"></ion-icon>
              </ion-button>
              <ion-button fill="outline" shape="round" size="small" color="dark">
                0
                <ion-icon slot="start" name="thumbs-down" color="warning"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size=4>

            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>