
@import url(https://fonts.googleapis.com/css?family=Russo+One|Anton|Pacifico);

h1{
  font-family: Russo One;
}

.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.myheader{
  ion-card{
      margin-left: 15%;
      margin-right: 15%;
      border-radius: 10px;
  } 
  ion-card-content{
    padding: 0px;
  }
}

.kosong{
  ion-card{
    // webkit-box-shadow: none;
    box-shadow: none;
  }
}

.article{
  margin-bottom: 30px;
}

.gallery{
  img{
    height: 200px;
    background-size: cover;
  }
}

.video{
  margin-top: 30px;
}

.content-gallery{
  ion-card-content{
      padding: 0px;
  }
}

ion-card{
  border-radius: 20px 20px 20px 20px;
}

.content0{
  margin-top: 10px;
  text-align: left;
  align-content: center;
  align-self: auto;
}

.content1{
  margin-top: 10px;
  text-align: center;
  align-content: center;
  align-self: auto;
}

img{
  border-radius: 10px;
}

.fab{
  --primary-fab1:#F78154;
  --primary-fab2:#8CBA80;
  --primary-fab3:#39BFBD;
  --primary-fab4:#3880ff;
}


