<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="isMD || isIOS">
      <ion-button (click)="add_to_home(event)">
        <ion-icon name="bonfire"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://beta.ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>
      <ion-item href="https://beta.ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      <ion-item href="https://beta.ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://beta.ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list>
</ion-content> -->


<ion-content padding>

  <div class="myheader">
    <ion-col>
      <ion-label text-center>
        <h1>WELCOME TO</h1>
      </ion-label>
      <ion-card>
        <ion-card-content>
          <img src="./assets/img/main.png">
        </ion-card-content>
      </ion-card>
    </ion-col>
  </div>

  <div class="article">
    <ion-card>

      <ion-card-header>
        <ion-item>
          <ion-card-title>Article</ion-card-title>
          <ion-button slot="end" size="small" shape="round" fill="outline" item="right" (click)="morearticle()">Show
            More</ion-button>
        </ion-item>
      </ion-card-header>

      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <img src="./assets/img/article1.jpg">
              <div class="content1">
                <p><b>Smart, Good Looking Well Dressed</b></p>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <ion-card-content>
              <img src="./assets/img/article2.jpg">
              <div class="content1">
                <p><b>Smart, Good Looking Well Dressed</b></p>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <ion-card-content>
              <img src="./assets/img/article3.jpg">
              <div class="content1">
                <p><b>Smart, Good Looking Well Dressed</b></p>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <ion-card-content>
              <img src="./assets/img/article4.jpg">
              <div class="content1">
                <p><b>Smart, Good Looking Well Dressed</b></p>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <!-- <div class="gallery" *ngIf="isMD || isIOS">
    <ion-card>

      <ion-card-header>
        <ion-item>
          <ion-card-title>Gallery</ion-card-title>
          <ion-button slot="end" size="small" shape="round" fill="outline" item="right" (click)="moregallery()">Show More</ion-button>
        </ion-item>
      </ion-card-header>

      <ion-row>
        <ion-col>
          <ion-card>
            <div class="content-gallery">
              <ion-card-content>
                <img src="./assets/img/casual.jpg">
              </ion-card-content>
            </div>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <div class="content-gallery">
              <ion-card-content>
                <img src="./assets/img/graysuit.jpg">
              </ion-card-content>
            </div>
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-card>
  </div> -->


  <div class="gallery">
    <ion-card>

      <ion-card-header>
        <ion-item>
          <ion-card-title>Gallery</ion-card-title>
          <ion-button slot="end" size="small" shape="round" fill="outline" item="right" (click)="moregallery()">Show
            More</ion-button>
        </ion-item>
      </ion-card-header>

      <ion-slides [options]="sliderConfig">
        <ion-slide>
          <ion-card>
            <div class="content-gallery">
              <ion-card-content>
                <img src="./assets/img/casual.jpg">
              </ion-card-content>
            </div>
          </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card>
              <div class="content-gallery">
                <ion-card-content>
                  <img src="./assets/img/graysuit.jpg">
                </ion-card-content>
              </div>
            </ion-card>
          </ion-slide>

          <ion-slide>
              <ion-card>
                <div class="content-gallery">
                  <ion-card-content>
                    <img src="./assets/img/blackhate.jpg">
                  </ion-card-content>
                </div>
              </ion-card>
            </ion-slide>
      </ion-slides>

    </ion-card>
  </div>

  <div class="video">
    <ion-card>

      <ion-card-header>
        <ion-item>
          <ion-card-title>Videos</ion-card-title>
          <ion-button slot="end" size="small" shape="round" fill="outline" item="right" (click)="morevideo()">Show More
          </ion-button>
        </ion-item>
      </ion-card-header>

      <ion-row>
        <ion-col>
          <ion-card>
            <ion-img src="./assets/img/video1.png"></ion-img>
            <ion-card-content>
              <div class="content1">
                <p><b>The ULTIMATE Performance Shirt</b></p>
                <p>Baju Lanang</p>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <ion-img src="./assets/img/video2.jpg"></ion-img>
            <ion-card-content>
              <div class="content1">
                <p><b>The ULTIMATE Performance Shirt</b></p>
                <p>Baju Lanang</p>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <ion-img src="./assets/img/video3.jpg"></ion-img>
            <ion-card-content>
              <div class="content1">
                <p><b>The ULTIMATE Performance Shirt</b></p>
                <p>Baju Lanang</p>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>

      </ion-row>

    </ion-card>
  </div>


  <!-- <div class="kosong">

  <!-- <div class="gallery">
    <ion-card>

      <ion-card-header>
        <ion-item>
          <ion-card-title>Gallery</ion-card-title>
          <ion-button slot="end" size="small" shape="round" fill="outline" item="right" (click)="moregallery()">Show
            More</ion-button>
        </ion-item>
      </ion-card-header>

      <ion-slides pager="false" slidesPerView="1.2" spaceBetween="10" centeredSlides=true loop=true>
        <ion-slide class="sidebox">
          <ion-col>
            <ion-card>
              <div class="content-gallery">
                <ion-card-content>
                  <img src="./assets/img/casual.jpg">
                </ion-card-content>
              </div>
            </ion-card>
          </ion-col>
        </ion-slide>

        <ion-slide>
          <ion-col>
            <ion-card>
              <div class="content-gallery">
                <ion-card-content>
                  <img src="./assets/img/graysuit.jpg">
                </ion-card-content>
              </div>
            </ion-card>
          </ion-col>
        </ion-slide>

        <ion-slide>
          <ion-col>
            <ion-card>
              <div class="content-gallery">
                <ion-card-content>
                  <img src="./assets/img/tuxedo.jpg">
                </ion-card-content>
              </div>
            </ion-card>
          </ion-col>
        </ion-slide>
      </ion-slides>

    </ion-card>
  </div> -->

  <!-- <div class="gallery" showWhen="landscape">
    <ion-card>

      <ion-card-header>
        <ion-item>
          <ion-card-title>Gallery</ion-card-title>
          <ion-button slot="end" size="small" shape="round" fill="outline" item="right" (click)="moregallery()">Show More</ion-button>
        </ion-item>
      </ion-card-header>

      <ion-row>
        <ion-col>
          <ion-card>
            <div class="content-gallery">
              <ion-card-content>
                <img src="./assets/img/casual.jpg">
              </ion-card-content>
            </div>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <div class="content-gallery">
              <ion-card-content>
                <img src="./assets/img/graysuit.jpg">
              </ion-card-content>
            </div>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <div class="content-gallery">
              <ion-card-content>
                <img src="./assets/img/tuxedo.jpg">
              </ion-card-content>
            </div>
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-card>
  </div> -->


  <!-- <button class="btn" ion-button full (click)="add_to_home(event)" *ngIf="showBtn" >Install</button> -->

  <!-- 
  <ion-button expand="block" color="medium" (click)="changeTheme('autumn')">Autumn</ion-button>
  <ion-button expand="block" color="medium" (click)="changeTheme('night')">Dark</ion-button>
  <ion-button expand="block" color="medium" (click)="changeTheme('neon')">Neon</ion-button>
  <ion-button expand="block" color="medium" (click)="changeTheme('')">Default</ion-button>
  <hr>

  <ion-button color="primary">Primary</ion-button>
  <ion-button color="secondary">Secondary</ion-button>
  <ion-button color="tertiary">Tertiary</ion-button>
  <ion-button color="medium">Medium</ion-button>
  <ion-button color="dark">Dark</ion-button>

  <ion-button color="primary" class="foo">Foo</ion-button> -->

  <!-- Fab button for changing theme page -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="color-palette"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="var(--primary-fab1)" (click)="changeTheme('autumn')"></ion-fab-button>
      <ion-fab-button color="var(--primary-fab2)" (click)="changeTheme('night')"></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button (click)="changeTheme('neon')"></ion-fab-button>
      <ion-fab-button (click)="changeTheme('')"></ion-fab-button>
    </ion-fab-list>
  </ion-fab>


</ion-content>