@supports (column-count: 3) {
    .wrapper {
       -moz-column-count: 3;
       -webkit-column-count: 3;
       column-count: 3;
       -moz-column-gap: 0.3em;
       -webkit-column-gap: 0.3em;
       column-gap: 0.3em;
 
       section {
            width: 100%;
            margin: 0 0.5em 0.5em 0;
            padding: 1em;
            display: inline-block;
         color: rgba(68, 68, 68, 1);
         text-align: center;
         -moz-box-sizing: border-box;
         -webkit-box-sizing: border-box;
         box-sizing: border-box;
 
         img {
            display : block;
            // margin: 0 auto 2em auto;
            // width: 90px;
         }
       }
    }
 
    /// Define 3 column count for screen sizes up to 1200 pixels in width
    @media only screen and (max-width: 1200px) {
       .wrapper {
          -moz-column-count: 3;
          -webkit-column-count: 3;
          column-count: 3;
       }
    }
 
    /// Define 3 column count for screen sizes up to 900 pixels in width
    @media only screen and (max-width: 900px) {
       .wrapper {
          -moz-column-count: 3;
          -webkit-column-count: 3;
          column-count: 3;
       }
    }
 
    /// Define 2 column count for screen sizes up to 800 pixels in width
    @media only screen and (max-width: 800px) {
       .wrapper {
             -moz-column-count: 2;
          -webkit-column-count: 2;
          column-count: 2;
       }
    }
 
    /// Define 1 column count for screen sizes up to 600 pixels in width
    @media only screen and (max-width: 600px) {
       .wrapper {
          -moz-column-count: 1;
          -webkit-column-count: 1;
          column-count: 1;
          -moz-column-gap: 0;
          -webkit-column-gap: 0;
          column-gap: 0;
       }
    }
 }