<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Galleries
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-item lines="none ">
    <ion-label text-right>Sort By</ion-label>
    <ion-select value="newest" ok-text="Okay" cancel-text="Dismiss">
      <ion-select-option value="newest">Newest</ion-select-option>
      <ion-select-option value="older">Older</ion-select-option>
    </ion-select>
  </ion-item>

  <div class="wrapper">
    <section>
      <img [src]="photo1" (click)="detail(photo1)">
      <!-- <img [src]="'http://1.bp.blogspot.com/-AFnAA3KraBY/VVc_wKhLL6I/AAAAAAAABFo/hCv6hvMnDYo/s1600/path4253-1-3.png' || './assets/icon/provide1.svg'" (click)="detail(photo1)"> -->
    </section>

    <section>
      <img [src]="photo2" (click)="detail(photo2)">
    </section>

    <section>
      <img [src]="photo3" (click)="detail(photo3)">
    </section>

    <section>
      <img [src]="photo4" (click)="detail(photo4)">
    </section>

    <section>
      <img [src]="photo5" (click)="detail(photo5)">
    </section>

    <section>
      <img [src]="photo6" (click)="detail(photo6)">
    </section>

    <section>
      <img [src]="photo7" (click)="detail(photo7)">
    </section>

    <section>
      <img [src]="photo8" (click)="detail(photo8)">
    </section>

    <section>
      <img [src]="photo9" (click)="detail(photo9)">
    </section>
   
  </div>

</ion-content>